<section class="image-slideshow">
      <img class="slide-img" src="/Flatheads-Backend//public/images/first-review.png" alt="" />
      <img class="slide-img" src="/Flatheads-Backend//public/images/second-review.png" alt="" />
      <img class="slide-img" src="/Flatheads-Backend//public/images/third-review.png" alt="" />
</section>